<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>optly8653126353</string>
				<string>twitter</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>3c81e7b0310ef3267251aed0fb1ba1346063975a</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>publishable</key>
					<string>pk_test_EMtrqgd47i0FGRbIX42MLzBK</string>
				</dict>
				<key>KitName</key>
				<string>STPAPIClient</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>apikey</key>
					<string>22760f5d162343dfbfcb89328bc4a76a</string>
				</dict>
				<key>KitName</key>
				<string>Appsee</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>socket_token</key>
					<string>AANj3MkBn_xXztnhorYWH5YfHMC6nrQ8~8653126353</string>
				</dict>
				<key>KitName</key>
				<string>Optimizely</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>branch_key</key>
					<string>key_live_ohCIobEsNLp1fQ4Sk16fOjfhBsoeMqcG</string>
				</dict>
				<key>KitName</key>
				<string>Branch</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>client_identifier</key>
					<string>mobile_sdk_client_50cc93591da07193c27d</string>
					<key>identifier</key>
					<string>f8f3d45cf336cb7bd0d6a571ef11987d2d963a8626b74fdb</string>
					<key>url</key>
					<string>https://fabric-lifeiscrazy2323gmailcom.zendesk.com</string>
				</dict>
				<key>KitName</key>
				<string>Zendesk</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>PubNub</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiY2o3OHZ0MHRnMmpyMTJxcGlpdW45YnZvZSIsImEiOiJjajc4dnQxYzgyanIzMnFwaWw0NGVxYzdjIn0.fFq8QfBmCgn4-sGzyneTCw</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
